<header class="header">


  <h1 class="header__title">The Lady Project</h1>

    <div class="menu">
      
    <div class="menu__icon">
    <i class="fa-solid fa-language"></i>
    </div>

    <div class="menu__find">
      <input class="menu__find--search" type="search" name="findMovie" placeholder="Ej: La novia de Frankestein...">
      <input class="menu__find--btn" type="submit" value="Buscar">
    </div>

 
    <a href="../bocetos.html" target="_blank"><button class="menu__sketch">BOCETOS</button></a>
    </a>
    </div>

  </div>
</header>

<!---
<section id="seccion-2">
  <h2>Sección 2</h2>
  <p>Contenido de la sección 2</p>
</section> -->
