<header class="header">
  <!--<img src="../../images/6354.jpg" alt="carrete">--->

  <h1 class="header__title">The Lady Project</h1>

    <div class="menu">
      
    <div class="menu__icon">
    <i class="fa-solid fa-language"></i>
    </div>

    <div class="menu__find">
      <input class="menu__find--search" type="search" name="findMovie" placeholder="Ej: La novia de Frankestein...">
      <input class="menu__find--btn" type="submit" value="Buscar">
    </div>

    <div class="menu__sketch">
    <input type="button" class="menu__sketch--value" value="Bocetos">
    <a href="" target="_blank"></a>
    </div>

  </div>
</header>

<!---
<section id="seccion-2">
  <h2>Sección 2</h2>
  <p>Contenido de la sección 2</p>
</section> -->
