
<div class="arrowRight"> EL OBJETIVO</div>
<main class="main">
       
    <p class="main__paragraph">¿Los personajes femeninos en la ciencia ficción suelen ser estereotipados o limitados en sus roles? ¿Son a menudo relegados a papeles secundarios o simplemente representados como intereses amorosos de los personajes principales masculinos? ¿Existe alguna tendencia en cómo se presentan los personajes femeninos en la ciencia ficción?</br>
    En este proyecto, pretendo expresar mi visión de los personajes femeninos en las películas de ciencia ficción, su papel y su evolución, si es que la hay. Quizás esto os dé una nueva perspectiva o refuerce las ideas que ya teníais, o  incluso puede que os acerque a películas de las que nunca habíais oído hablar... gustaría abrir un espacio de debate y reflexión. </br>
    Otra de las grandes preguntas sería qué podemos esperar en el futuro en cuanto a la representación de personajes femeninos en la ciencia ficción, y cómo esto podría reflejarse y afectar a la sociedad en general. </p>
   
    <h2 class="main__title">¿Qué década te interesa explorar?</h2>
    <div class="main__grid">
        <a href="#seccion1" target="_blank"><button class="main__grid--btn">1900 - 1929</button></a>
        <a href="../section2.html" target="_blank"><button class="main__grid--btn">1930 - 1959</button></a>
        <a href="#seccion3" target="_blank"><button class="main__grid--btn">1960 - 1989</button></a>
        <a href="#seccion4" target="_blank"><button class="main__grid--btn">1990 - 2020</button></a>
    </div>

    <div class="main__encuesta">
        <h2> Ayúdame a crecer </h2>
        <form method="POST" action="#">
            <div class="">
            <label>
            <input type="radio" name="opcion" value="opcion1">
            Leia Organa
            </label>
            <label>
            <input type="radio" name="opcion" value="opcion2">
            Ellen Ripley
            </label>
            <label>
            <input type="radio" name="opcion" value="opcion3">
            Sarah Connor
            </label>
            </div>
            
            <input class="main__encuesta--btn" type="submit" value="Enviar">
            </form>
        
    </div>


    <!---<section id="section2">
        <h2 class="main__sec2">1930-1959</h2>
        <p class="main__sec2--paragraph">Este tramo incluiría las décadas de 1930, 1940 y 1950, y abarcaría la Segunda Guerra Mundial y la Guerra Fría. </br>
        Durante los años 30, el mundo se encontraba en medio de la Gran Depresión, una crisis económica mundial que comenzó en 1929 y que afectó a la mayoría de los países industrializados. Esta crisis tuvo un impacto significativo en la producción de cine, ya que muchas compañías cinematográficas experimentaron dificultades           financieras.</br>
       En el cine de ciencia ficción de los años 30, estos temas se reflejaron en historias que a menudo presentaban visiones futuristas de la tecnología, la ciencia y la sociedad.  Al mismo tiempo, también había un elemento de temor  por los peligros potenciales de esa tecnología, lo que llevó a muchas películas a presentar advertencias sobre la experimentación científica irresponsable.</br>
        El contexto social de los años 40 también influyó en la producción y contenido de las películas de ciencia ficción.
        Durante esta década, el mundo estaba en medio de la Segunda Guerra Mundial, un conflicto global que tuvo un impacto significativo en la producción cinematográfica en todo el mundo. La guerra llevó a una disminución en la producción de cine en algunos países y a una mayor censura y control gubernamental en otros.</br>
        En los Estados Unidos, el cine se convirtió en una forma importante de propaganda y apoyo a la guerra. Las películas de Hollywood a menudo presentaban historias que reflejaban los valores y la determinación de la nación en tiempos de guerra, así como la importancia de trabajar juntos para superar los desafíos. En este contexto, las películas de ciencia ficción a menudo presentaban temas de invasiones extraterrestres, la creación de armas y tecnologías avanzadas para ganar la guerra, y la exploración de otros mundos como una forma de escapismo.</br>
        El contexto social de los años 50, caracterizado por la Guerra Fría, la amenaza nuclear y los cambios culturales y tecnológicos, influyó en la producción y el contenido de las películas de ciencia ficción de la época. Algunas películas presentaban escenarios apocalípticos que reflejaban los temores y ansiedades de la audiencia.</p>
    </section>--->
        