
<div class="arrowRight"> EL OBJETIVO</div>
<main class="main">
    <img class="main__img" src="./assets/images/portada.png" alt="alienigena">
    <p class="main__paragraph">
    </br>
    ¿Los personajes femeninos en la ciencia ficción suelen ser estereotipados o limitados en sus roles? ¿Son a menudo relegados a papeles secundarios o simplemente representados como intereses amorosos de los personajes principales masculinos? ¿Existe alguna tendencia en cómo se presentan los personajes femeninos en la ciencia ficción?</br>
    En este proyecto, pretendo expresar mi visión de los personajes femeninos en las películas de ciencia ficción, su papel y su evolución, si es que la hay. Quizás esto os dé una nueva perspectiva o refuerce las ideas que ya teníais, o  incluso puede que os acerque a películas de las que nunca habíais oído hablar... gustaría abrir un espacio de debate y reflexión. </br>
    Otra de las grandes preguntas sería qué podemos esperar en el futuro en cuanto a la representación de personajes femeninos en la ciencia ficción, y cómo esto podría reflejarse y afectar a la sociedad en general. </p>
   
    
    <h2 class="main__title">¿Qué década te interesa explorar?</h2>
    <div class="main__grid">
        <a href="#seccion1" target="_blank"><button class="main__grid--btn">1900 - 1929</button></a>
        <a href="../section2.html" target="_blank"><button class="main__grid--btn">1930 - 1959</button></a>
        <a href="#seccion3" target="_blank"><button class="main__grid--btn">1960 - 1989</button></a>
        <a href="#seccion4" target="_blank"><button class="main__grid--btn">1990 - 2000</button></a>
    </div>

<div class="encuesta">
<h2 class="encuesta__title"> Ayúdame a crecer ¿qué personaje te gustaría que fuera el siguiente?</h2>
    <form method="POST" action="#">
        <div>
            <label class="encuesta--input">
                <input type="radio" name="opcion" value="opcion1">
                Leia Organa
            </label>
            <label class="encuesta--input">
                <input type="radio" name="opcion" value="opcion2">
                Ellen Ripley
            </label>
            <label class="encuesta--input">
                <input type="radio" name="opcion" value="opcion3">
                Sarah Connor
            </label>
        </div>
        <input class="encuesta--btn" type="submit" value="Enviar">
    </form>
</div>

</main>

    


        