@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';


:root {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/*.container {
    margin-left: 2.1rem;
    margin-right: 1.2rem;
}*/